<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aparelhos Academia</title>
</head>
<body>
<h1>Aparelhos academia</h1>
<hr>

    <table>
        <thead>
            <tr>
                <th> ID Aparelho</th>
                <th> Nome </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aparelho:${aparelhos}">
                <td th:text="${aparelho.idaparelho}">ID Aparelho</td>
                <td th:text="${aparelho.nome}">Nome</td>
            </tr>
        </tbody>
    </table>

</body>
</html>